div.add_identities {
  float: left;
  width: 30%;
  margin: 0;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      .fa {
        margin: 20px;
      }
    }
  }
}

table.table-middle-aligned {
  tbody tr td, thead tr th {
    vertical-align: middle;
  }
}
